@charset "UTF-8";

body {
	word-break: break-all;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "メイリオ",
		Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
	text-decoration: none;
}

table {
	word-break: break-all;
}

header {
	text-align: center;
	margin: 20px 0;
}

footer {
	text-align: center;
	margin-top: 10px;
}

.center {
	text-align: center;
}

footer {
	background-color: #400000;
	color: #fff;
	text-align: center;
	padding: 20px;
}

/* heading */
h1 {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: -.1rem;
	border-left: 6px solid #C00000;
	padding-left: 10px;
}

h2 {
	font-size: 1.8rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}

h3 {
	font-size: 1.6rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
	border-left: 6px solid #C00000;
	padding-left: 10px;
}

h4 {
	font-size: 1.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}

h5 {
	font-size: 1.2rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}

h6 {
	font-size: 1.0rem;
	line-height: 1.6;
	letter-spacing: 0;
}

/* input */
input[type="text"] {
	width: 100%;
}

/* button */
.button.button-primary, button.button-primary, input[type="submit"].button-primary,
	input[type="reset"].button-primary, input[type="button"].button-primary
	{
	color: #FFF;
	background-color: #400000;
	border-color: #920202;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover,
	input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover,
	.button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus,
	input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus
	{
	color: #FFF;
	background-color: #920202;
	border-color: #920202;
}

/* list */
ul {
	list-style-type: none;
}

/* section */
.sec {
	
}

.sec_title {
	border-bottom: 1px solid #dadada;
	margin-bottom: 20px;
}

.sec_title h1 {
	margin-bottom: 10px;
}

.sec_title h3 {
	margin-bottom: 10px;
}

.sec_button {
	padding: 0; margin 12px;
	padding: 12px 0;
}

/* error section */
.error {
	color: #F00;
}

/*  */
p {
	word-break: break-all;
}

/* table */
table {
	table-layout: fixed;
	box-sizing: border-box;
	width: 100%;
}

th, td {
	word-break: break-all;
}

th:first-child, td:first-child {
	padding-left: 0;
	width: 35%;
}

th:last-child, td:last-child {
	padding-right: 0;
}